.time,
.time1 {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time {
  width: 32px;
  letter-spacing: -0.28px;
  min-width: 32px;
}
.time1 {
  align-self: stretch;
  letter-spacing: -0.5px;
  white-space: nowrap;
}
.record {
  height: 21px;
  border-radius: 999px;
  background-color: red;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  box-sizing: border-box;
  font-size: 14.3px;
  color: var(--color-white);
}
.cellularIcon,
.wifiIcon {
  height: 10.7px;
  width: 17px;
  position: relative;
}
.wifiIcon {
  height: 11px;
  width: 15.3px;
}
.batteryminiIcon {
  align-self: stretch;
  width: 23px;
  position: relative;
  max-height: 100%;
  min-height: 11px;
}
.statusmini,
.statusminiWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusmini {
  align-self: stretch;
  flex-direction: row;
  padding: 0.7px 0.3px var(--padding-12xs) 1.7px;
  gap: 5.3px;
}
.statusminiWrapper {
  width: 68px;
  flex-direction: column;
  padding: 2.2px 0 0;
  box-sizing: border-box;
}
.cameraIndicator {
  height: 6.3px;
  width: 6.3px;
  position: relative;
  border-radius: 50%;
  background-color: #67ce67;
  display: none;
}
.mobile,
.statusBarmini {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.statusBarmini {
  flex: 1;
  justify-content: space-between;
  padding: 18.8px 11px 13.2px var(--padding-8xl);
  gap: var(--gap-xl);
}
.mobile {
  align-self: stretch;
  background-color: var(--browser-ui-light-bg);
  backdrop-filter: var(--blur-bar-top);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-9xs) 0;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: 15px;
  color: var(--color-black);
  font-family: 'MullerNarrow-Trial';
}
.frameChild {
  width: 350px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.solarClockIcon {
  position: absolute;
  height: 25%;
  width: 12.44%;
  top: 37.5%;
  right: 43.78%;
  bottom: 37.5%;
  left: 43.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back {
  height: 40px;
  width: 41.8px;
  position: relative;
  border-radius: 8px;
  background-color: #f3f8fe;
  overflow: hidden;
  flex-shrink: 0;
}
.span {
  font-family: 'MullerNarrow-Trial';
}
.div {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 66px;
}
.octoberOnPlaces,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper {
  flex: 1;
  border-radius: var(--br-base);
  border: 1px solid var(--color-white);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-9xs);
}
.octoberOnPlaces {
  width: 167.8px;
  justify-content: flex-start;
  gap: 26px;
}
.locationNameChild {
  height: 39px;
  width: 40px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
}
.locationName {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.carouselIcon {
  height: 13.9px;
  width: 75.9px;
  position: relative;
  z-index: 1;
}
.carouselWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.mobileParent,
.rectangleParent,
.topPanel {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-xl);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-smi) 14.2px 9.1px var(--padding-sm);
  gap: 264px;
  background-image: url(/public/rectangle-990@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.mobileParent,
.topPanel {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 24px 0 var(--padding-base);
}
.mobileParent {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: 12px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: 'MullerNarrow-Trial';
}
.placeName {
  align-self: stretch;
  position: relative;
  line-height: 135%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div1 {
  width: 161px;
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: var(--secondary-text);
  display: inline-block;
}
.backdrop {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.solarcalendarLineDuotoneIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.solarcalendarLineDuotoneParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.eventInfo {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.solarclockCircleLineDuotonIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 30px;
  white-space: nowrap;
}
.solarclockCircleLineDuotonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.eventInfo1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.backdropParent,
.eventInfo1,
.eventInfoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eventInfoParent {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs);
}
.backdropParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 188px;
}
.ratingIcon {
  width: 13.2px;
  height: 12.6px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.rubleSymbol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.1px 0 0;
}
.div4 {
  width: 21px;
  position: relative;
  line-height: 19px;
  font-weight: 300;
  display: inline-block;
  min-width: 21px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.rubleSymbolParent,
.venueTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rubleSymbolParent {
  gap: 4.4px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--mid-emphasized);
}
.venueTitle {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-6xs);
  gap: 22px;
  font-size: var(--font-size-xl);
}
.div5,
.readMore {
  position: relative;
}
.div5 {
  align-self: stretch;
  line-height: 16.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 38px;
  font-family: 'MullerNarrow-Trial';
}
.readMore {
  display: inline-block;
  min-width: 71px;
}
.readMoreWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.downIcon {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 24px;
}
.locationMarker,
.readMoreButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.readMoreButton {
  flex-direction: row;
  gap: 3px;
  color: var(--primary);
}
.locationMarker {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-5xs);
  color: var(--gray-1);
}
.div6 {
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.anapaUlMarxistsStreet {
  width: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.solarmapPointBoldIcon {
  position: absolute;
  top: 28px;
  left: 166px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  z-index: 1;
}
.appLogo {
  height: 100%;
  width: 362px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -10px;
}
.screenCapture {
  align-self: stretch;
  height: 94px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.div7 {
  position: relative;
  line-height: 19px;
  font-family: 'MullerNarrow-Trial';
}
.mainVisual,
.placeNameLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeNameLabel {
  flex: 1;
  flex-direction: column;
  gap: 9px;
}
.mainVisual {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: 'MullerNarrow-Trial';
}
.b {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.solarmedalStarCircleBoldDIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div8,
.div9 {
  position: relative;
}
.div8 {
  align-self: stretch;
}
.div9 {
  width: 115px;
  height: 27px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  display: inline-block;
}
.discountCoin,
.joinButton {
  display: flex;
  justify-content: flex-start;
}
.joinButton {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.discountCoin {
  width: 238px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.anapaScreenshotIcon {
  height: 10px;
  width: 5.2px;
  position: relative;
  object-fit: contain;
}
.solarMedal {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--secondary-text);
}
.span1 {
  font-weight: 600;
}
.cashbackSymbol {
  height: 26px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.solarscanner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 0 var(--padding-7xl);
}
.div10 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-brown);
  text-align: center;
}
.buttonInstance {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 69px;
}
.span2 {
  font-weight: 600;
  font-family: 'MullerNarrow-Trial';
}
.div11 {
  height: 27px;
  position: relative;
  display: inline-block;
  min-width: 29px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-8xl);
}
.div12 {
  width: 80px;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: 'MullerNarrow-Trial';
  color: var(--color-brown);
  text-align: center;
  display: inline-block;
}
.buttonInstance1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-8xs) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  min-width: 69px;
  font-family: 'MullerNarrow-Trial';
}
.solarscannerBoldDuotoneIcon {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.solarscannerBoldDuotoneWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) 0 29px;
}
.p,
.p1 {
  margin: 0;
}
.div13 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.buttonInstance2,
.discountPercentage {
  display: flex;
  justify-content: flex-start;
}
.buttonInstance2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-smi) var(--padding-6xs) var(--padding-6xs)
    var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 69px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-brown);
}
.discountPercentage {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-4xl);
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: 'MullerNarrow-Trial';
}
.div14 {
  width: 129px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: 'MullerNarrow-Trial';
  color: var(--primary);
  text-align: left;
  display: inline-block;
}
.anapaArena,
.btn,
.locationMarker1 {
  display: flex;
  align-items: flex-start;
}
.btn {
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.anapaArena,
.locationMarker1 {
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.locationMarker1 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 17px var(--padding-sm) var(--padding-base) var(--padding-mini);
  gap: 13.7px;
}
.anapaArena {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl) var(--padding-7xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: 'MullerNarrow-Trial';
}
.div15,
.mingcutecoinFillIcon {
  position: relative;
  flex-shrink: 0;
}
.div15 {
  width: 227px;
  line-height: 22px;
  display: inline-block;
  white-space: nowrap;
}
.mingcutecoinFillIcon {
  height: 25.3px;
  width: 25.3px;
  overflow: hidden;
  object-fit: contain;
}
.span3 {
  font-weight: 600;
}
.b1 {
  font-family: 'MullerNarrow-Trial';
}
.solarAppointment {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.mingcutecoinFillParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.headerBackgroundInner {
  border-radius: var(--br-5xs);
  background-color: #ffeeea;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  font-size: var(--font-size-base);
  color: var(--primary);
  font-family: 'MullerNarrow-Trial';
}
.headerBackground {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-8xs);
  gap: var(--gap-xl);
}
.solarcartLarge3LineDuotonIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div16 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: 'MullerNarrow-Trial';
  color: var(--color-white);
  text-align: left;
}
.solarCalendar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.anapaLocationChild,
.cartButton {
  border-radius: var(--br-5xs);
  overflow: hidden;
}
.cartButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 48px;
  background-color: var(--primary);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 188px;
}
.anapaLocationChild {
  height: 44px;
  width: 45px;
  position: relative;
  flex-shrink: 0;
  min-height: 44px;
}
.anapaLocation {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  gap: var(--gap-base);
}
.addToWishlist,
.anapaLocation,
.card,
.cardParent {
  display: flex;
  justify-content: flex-start;
}
.addToWishlist {
  align-self: stretch;
  border-radius: var(--br-base) var(--br-base) 0 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-mini) 19.7px 19px;
  gap: 17.7px;
  text-align: left;
  font-size: 24px;
  color: var(--color-black);
  font-family: 'MullerNarrow-Trial';
}
.card,
.cardParent {
  align-items: flex-start;
}
.card {
  flex: 1;
  background-color: #f6f6f6;
  flex-direction: column;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.cardParent {
  width: 100%;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
