.time,
.time1 {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  color: #000000; /* Default text color for inactive buttons */
}

.time {
  width: 32px;
  letter-spacing: -0.28px;
  min-width: 32px;
}
.time1 {
  align-self: stretch;
  letter-spacing: -0.5px;
  white-space: nowrap;
}
.record {
  height: 21px;
  border-radius: 999px;
  background-color: red;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 7px;
  box-sizing: border-box;
  font-size: 14.3px;
  color: var(--color-white);
}
.cellularIcon,
.wifiIcon {
  height: 10.7px;
  width: 17px;
  position: relative;
}
.wifiIcon {
  height: 11px;
  width: 15.3px;
}
.batteryminiIcon {
  align-self: stretch;
  width: 23px;
  position: relative;
  max-height: 100%;
  min-height: 11px;
}
.statusmini,
.statusminiWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusmini {
  align-self: stretch;
  flex-direction: row;
  padding: 0.7px 0 var(--padding-12xs) 1.7px;
  gap: 5.4px;
}
.statusminiWrapper {
  width: 68px;
  flex-direction: column;
  padding: 2.2px 0 0;
  box-sizing: border-box;
}
.cameraIndicator {
  height: 6.3px;
  width: 6.3px;
  position: relative;
  border-radius: 50%;
  background-color: #67ce67;
  display: none;
}
.mobile,
.statusBarmini {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.statusBarmini {
  flex: 1;
  justify-content: space-between;
  padding: 18.8px var(--padding-2xs) 13.2px 27px;
  gap: var(--gap-xl);
}
.mobile {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  backdrop-filter: var(--blur-bar-top);
  justify-content: flex-start;
  padding: var(--padding-11xs) 4px 0;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: 15px;
  color: var(--color-black);
  font-family: 'MullerNarrow-Trial';
}
.svgIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
  min-height: 48px;
  max-height: 48px;
}
.h2 {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: 'MullerNarrow-Trial';
  display: inline-block;
  min-width: 127px;
  max-width: 130px;
}
.wrapper {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11.9px 0 0;
  box-sizing: border-box;
}
.buttonParent,
.purchase1Inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttonParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.purchase1Inner {
  width: 266.5px;
  justify-content: flex-start;
  padding: 0 10px;
  box-sizing: border-box;
}
.div {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: 'MullerNarrow-Trial';
  color: #ff5733;
  text-align: left;
  display: inline-block;
  min-width: 57px;
}
.container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 24px;
  background-color: var(--color-tomato-100);
  border-radius: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.h21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 135%;
  font-weight: 500;
  font-family: 'MullerNarrow-Trial';
  display: inline-block;
  min-width: 41px;
}
.frame,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-5);
}
.frameDiv {
  flex: 1;
  
  gap: 5px;
}

/* index.module.css */
.activeTab {
  color: #ff5733; /* This sets the text color to the specified color when active */
}

.div1 {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.frameContainer,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-sm);
  color: var(--secondary-text);
}
.frameContainer {
  flex: 1;
  flex-direction: row;
  gap: 32px;
  min-width: 142px;
}
.div2,
.div3 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.div3 {
  align-self: stretch;
  font-size: var(--font-size-base);
  line-height: 22px;
  text-align: center;
  min-width: 77px;
}
.frameWrapper1,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 34.5px;
}
.frameWrapper1 {
  width: 77.5px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-5);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--secondary-text);
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
}
.frameWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frameChild,
.placeName {
  position: relative;
  overflow: hidden;
}
.frameChild {
  height: 85px;
  width: 84px;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  object-fit: cover;
  min-height: 85px;
}
.placeName {
  align-self: stretch;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pinIcon {
  width: 8.1px;
  height: 11.2px;
  position: relative;
}
.pinIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.div4 {
  width: 91.1px;
  position: relative;
  line-height: 135%;
  font-weight: 300;
  display: inline-block;
}
.wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.ratingIcon {
  width: 13.2px;
  height: 12.6px;
  position: relative;
}
.frameParent5,
.ratingIconWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingIconWrapper {
  flex-direction: column;
  padding: var(--padding-11xs-6) 0 0;
}
.frameParent5 {
  width: 207px;
  flex-direction: row;
  gap: var(--gap-4xs-6);
  font-size: var(--font-size-xs);
  color: var(--low-emphasized);
}
.frameWrapper2,
.placeNameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.placeNameParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.frameWrapper2 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.favoriteIconChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
  display: none;
}
.heartIcon {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 25%;
  right: 20.83%;
  bottom: 16.67%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.favoriteIcon {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
}
.favoriteIconWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs-6);
}
.div5 {
  width: 21px;
  position: relative;
  line-height: 19px;
  font-weight: 300;
  display: inline-block;
  min-width: 21px;
}
.frameParent4,
.frameParent6 {
  display: flex;
  justify-content: flex-start;
}
.frameParent6 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  margin-left: -25.6px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--mid-emphasized);
}
.frameParent4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.span {
  font-size: var(--font-size-base);
}
.button1,
.div6 {
  position: relative;
  line-height: 135%;
}
.div6 {
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.button1 {
  align-self: stretch;
  font-weight: 300;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.buttonWrapper {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--secondary-text);
}
.learnTheArtOfGameDev {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frameParent2,
.frameParent3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameParent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 154px;
}
.frameParent2 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xs);
  gap: var(--gap-smi);
}
.frameItem,
.placeName1 {
  position: relative;
  overflow: hidden;
}
.frameItem {
  height: 85px;
  width: 84px;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  object-fit: cover;
  min-height: 85px;
}
.placeName1 {
  align-self: stretch;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pinIcon1 {
  width: 8.1px;
  height: 11.2px;
  position: relative;
}
.pinIconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.div7 {
  width: 91.1px;
  position: relative;
  line-height: 135%;
  font-weight: 300;
  display: inline-block;
}
.wrapper3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.ratingIcon1 {
  width: 13.2px;
  height: 12.6px;
  position: relative;
}
.frameParent10,
.ratingIconContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingIconContainer {
  flex-direction: column;
  padding: var(--padding-11xs-6) 0 0;
}
.frameParent10 {
  width: 207px;
  flex-direction: row;
  gap: var(--gap-4xs-6);
  font-size: var(--font-size-xs);
  color: var(--low-emphasized);
}
.frameWrapper3,
.placeNameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.placeNameGroup {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.frameWrapper3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.favoriteIconItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
  display: none;
}
.heartIcon1 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 25%;
  right: 20.83%;
  bottom: 16.67%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.favoriteIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
}
.favoriteIconContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs-6);
}
.k {
  width: 21px;
  position: relative;
  line-height: 19px;
  font-weight: 300;
  display: inline-block;
  min-width: 21px;
}
.frameParent11,
.frameParent9 {
  display: flex;
  justify-content: flex-start;
}
.frameParent11 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  margin-left: -25.6px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--mid-emphasized);
}
.frameParent9 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.span1 {
  font-size: var(--font-size-base);
}
.achievements,
.div8 {
  position: relative;
  line-height: 135%;
}
.div8 {
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.achievements {
  align-self: stretch;
  font-weight: 300;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.achievementsWrapper,
.group {
  display: flex;
  align-items: flex-start;
}
.achievementsWrapper {
  width: 104px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--secondary-text);
}
.group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frameParent7,
.frameParent8 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameParent8 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 154px;
}
.frameParent7 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xs);
  gap: var(--gap-smi);
}
.buttonIcon,
.placeName2 {
  position: relative;
  overflow: hidden;
}
.buttonIcon {
  height: 85px;
  width: 84px;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  object-fit: cover;
  min-height: 85px;
}
.placeName2 {
  align-self: stretch;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pinIcon2 {
  width: 8.1px;
  height: 11.2px;
  position: relative;
}
.pinIconFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.div9 {
  width: 91.1px;
  position: relative;
  line-height: 135%;
  font-weight: 300;
  display: inline-block;
}
.wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.ratingIcon2 {
  width: 29.200000000000003px;
  height: 13.599999999999994px;
  position: relative;
}
.frameParent14,
.ratingIconFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingIconFrame {
  flex-direction: column;
  padding: var(--padding-11xs-6) 0 0;
}
.frameParent14 {
  width: 207px;
  flex-direction: row;
  gap: var(--gap-4xs-6);
  font-size: var(--font-size-xs);
  color: var(--low-emphasized);
}
.frameWrapper4,
.placeNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.placeNameContainer {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.frameWrapper4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.favoriteIconInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
  display: none;
}
.heartIcon2 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 25%;
  right: 20.83%;
  bottom: 16.67%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.favoriteIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-100);
  backdrop-filter: blur(178px);
}
.favoriteIconFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs-6);
}
.heading {
  width: 21px;
  position: relative;
  line-height: 19px;
  font-weight: 300;
  display: inline-block;
  min-width: 21px;
}
.frameParent13,
.frameParent15 {
  display: flex;
  justify-content: flex-start;
}
.frameParent15 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  margin-left: -25.6px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--mid-emphasized);
}
.frameParent13 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.span2 {
  font-size: var(--font-size-base);
}
.div10,
.div11 {
  position: relative;
  line-height: 135%;
}
.div10 {
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.div11 {
  align-self: stretch;
  font-weight: 300;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.parent1,
.wrapper5 {
  display: flex;
  align-items: flex-start;
}
.wrapper5 {
  width: 104px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--secondary-text);
}
.parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.buttonGroup,
.frameParent12 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameParent12 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 154px;
}
.buttonGroup {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xs);
  gap: var(--gap-smi);
}
.frameParent,
.frameParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  gap: 8px;
  font-size: var(--font-size-base);
  color: var(--high-emphasized);
}
.frameParent {
  flex: 1;
  align-items: flex-end;
  gap: 16px;
  max-width: 100%;
}
.purchase1,
.purchase1Child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: 'MullerNarrow-Trial';
}
.purchase1Child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 17.5px;
  max-width: 100%;
  text-align: left;
  color: var(--color-black);
}
.purchase1 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 295px;
  gap: 12px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--russpassru-cod-gray);
}
